[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fcl"]
	path = fcl
	url = https://github.com/shrektan/fcl
[submodule "ymd"]
	path = ymd
	url = https://github.com/shrektan/ymd
